.section-feature {
    padding: 10rem 0;
    position: relative;

    &__shape {
        position: absolute;
        z-index: -5;

        &--1 {
            top: 5rem;
            left: 0;
        }

        &--2 {
            top: 0;
            left: 10%;
        }

        &--3 {
            bottom: 20%;
            left: 3%;
        }

        &--4 {
            top: 40%;
            left: 3%;
        }
    }

    &__list {
        color: $color-primary;
        padding: 0;
    }

    &__item {
        font-weight: 400;
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__image {
        position: relative;
        height: 45rem;

        @include respond(tab) {
            margin-top: 5rem;
        }

        &--1 {
            position: absolute;
            top: 10rem;
            left: 5rem;
            z-index: 1;
            outline: 1rem solid $color-secondary;
        }

        &--2 {
            position: absolute;
            top: 0;
            right: 0;
            outline: 1rem solid $color-primary;
        }
    }

    &__video {
        position: relative;
        height: 25rem;
        background-image: linear-gradient(rgba($color-primary, 0.8)),
            url("../img/feature-video.jpg");
        background-size: cover;

        @include respond(tab) {
            margin-bottom: 5rem;
        }

        &-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            text-align: center;
            color: $color-white;
        }

        &-link {

            &,
            &:visited {
                display: inline-block;
                color: $color-white;
            }
        }

        &-icon {
            font-size: 4.5rem;


        }

        &-text {
            margin-top: 2rem;
        }
    }

    &__card-box {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        padding: 1rem;
        color: $color-primary;
        text-align: center;
        background-color: $color-grey-light;
        border: 1px solid $color-white;

        @include respond(tab-land) {
            padding: 0.5rem;
        }

        &-icon {
            font-size: 4rem;
            margin-bottom: 1rem;

            @include respond(tab-land) {
                font-size: 3rem;
            }
        }

        &-text {
            font-weight: 500;
            font-size: 1.4rem;
        }
    }
}

.section-service {
    padding: 10rem;
    background-image: linear-gradient(90deg, rgba($color-primary, 0.8) 0%, rgba($color-primary, 0.8) 75%, $color-white 75%), url("../img/bg.jpg");
    background-size: cover;
    z-index: -2;
    position: relative;

    @include respond (phone) {
        background-image: linear-gradient(rgba($color-primary, 0.8)),
            url("../img/bg.jpg");
    }

    &__shape {
        position: absolute;
        z-index: -1;

        &--1 {
            right: 0;
            top: 3rem;
        }

        &--2 {
            top: 1rem;
            right: 20rem;
        }

        &--3 {
            top: 40rem;
            right: 20rem;
        }
    }

    &__item {
        background-color: $color-grey-light;
        padding: 3rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        z-index: 5;
        align-items: center;
        margin-bottom: 2rem;

        @include respond (tab) {
            padding: 2rem 1rem;
        }

        &-icon {
            height: 3rem;
            margin-right: 1rem;

            @include respond (tab) {
                height: 2rem;
            }
        }

        &-text {
            font-weight: 500;
            font-size: 2.5rem;
            margin: 0;
            z-index: 5;

            @include respond (tab) {
                font-size: 1.8rem;
            }
        }
    }
}

.section-instructor {
    padding: 10rem 0;
    position: relative;
    text-align-last: center;

    &__card {
        position: relative;
        margin-top: 10rem;
        height: 25rem;
        transition: all 0.3s;
        border-radius: .5rem;

        @include respond (tab-land) {
            height: 18rem;
        }

        @include respond (phone) {
            height: 23rem;
        }

        &:active,
        &:hover {
            background-color: $color-primary;
        }

        &:hover &-bottom {
            color: $color-white;
        }

        &-top {
            width: 50%;
            position: absolute;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            border: 0.8rem solid $color-secondary;
            border-radius: 0.5rem;
        }

        &-bottom {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            color: $color-primary;
        }

        &-left {
            position: absolute;
            left: 0;
            top: 2rem;
        }

        &-right {
            position: absolute;
            right: 0;
            top: 2rem;
        }

        &-name {
            font-weight: 700;
            font-size: 1.8rem;
            margin: 0;

            @include respond (tab-land) {
                font-size: 1.2rem;
            }
        }

        &-profession {
            font-weight: 400;
            font-size: 1.6rem;
            margin: 0;

            @include respond (tab-land) {
                font-size: 1.2rem;
            }
        }
    }
}

.section-enroll {
    padding: 10rem 0;
    background-image: linear-gradient(rgba($color-primary, 0.8)), url("../img/enroll-bg.jpg");
    background-size: cover;
    text-align: center;
}

.section-join {
    padding: 10rem 0;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__shape {
        position: absolute;
        z-index: -5;

        &--1 {
            top: 0;
            left: 0;
        }

        &--2 {
            bottom: 0;
            right: 0;
        }

        &--3 {
            top: 15%;
            left: 25%;
        }
    }

    &__content {
        margin-top: 5rem;
        display: flex;
        justify-content: space-evenly;

        &-item {
            text-align: center;
            position: relative;

            &:last-child::after {
                content: "";
                position: absolute;
                top: 0;
                left: -5vw;
                height: 50%;
                width: 2px;
                background-color: $color-black;
            }
        }

        &-icon {
            display: block;
            margin-bottom: 3rem;
            color: $color-primary;
            font-size: 6rem;
        }
    }
}