* {
  margin: 0;
  padding: 0;
}

.slider {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider-item {
  position: relative;
  margin-top: 8vh;
  height: 80vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s linear;
  -moz-transition: 0.8s linear;
  transition: 0.8s linear;
}

.slider-img-opacity {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 10vw;
  transform: translateY(-50%);
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.prev {
  transform: rotate(180deg);
}

.prev,
.next {
  cursor: pointer;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  display: flex;
}

.dot {
  height: 2vh;
  width: 1vw;
  margin: 5px;
  cursor: pointer;
  outline: 2px solid transparent;
  background-color: gray;
}

.dot.active {
  outline: 2px solid black;
  background-color: tomato;
}
