    .social {
        &-list {}

        &-item {
            display: block;
            margin: 1rem;
        }

        &-link {

            &,
            &:visited {
                display: inline-block;
                text-align: center;
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 3.5rem;
                border: 1px solid $color-white;
                transition: all 0.2s;

            }

            &:hover {
                background-color: $color-secondary;
                border-color: $color-secondary;
            }
        }

        &-icon {
            font-size: 1.6rem;
            line-height: 3.5rem;
            color: $color-white;
        }
    }