.footer {
    padding: 10rem 0;
    background-color: $color-primary;

    &__heading {
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 3rem;
        text-transform: capitalize;
        color: $color-secondary;
    }

    &__platform {
        @include respond(tab) {
            margin-bottom: 4rem;
        }
    }

    &__mail {
        @include respond(tab-land) {
            margin-bottom: 4rem;
        }
    }

    &__form {
        &-text {
            font-weight: 500;
            font-size: 2rem;
            text-transform: capitalize;
            color: $color-white;
        }

        &-group {
            height: 4.5rem;
            border-radius: 1rem;
        }

        &-input {
            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                font-size: 1.6rem;

                @include respond (tab-land) {
                    font-size: 1.4rem;
                }
            }
        }

        &-btn {

            &,
            &:visited {
                font-weight: 700;
                color: $color-white;
                font-size: 1.6rem;
                padding: 1.5rem;
                background-color: $color-secondary;

                @include respond (tab-laptop) {
                    padding: 1rem;
                }

                @include respond (tab-land) {
                    font-size: 1.4rem;
                    padding: .5rem;
                }
            }

            &:hover {
                color: $color-white;
            }

            &:focus,
            &:active {
                box-shadow: none;
            }
        }

    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        display: block;
        margin-bottom: 2rem;
    }

    &__link {

        &,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-white;
        }

        &:hover {
            color: $color-white;
        }

        @include respond(tab-land) {
            font-size: 1.4rem;
        }
    }

    &__contact {

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }

        &-icon {
            font-size: 20px;
            margin-right: 1rem;
            color: $color-secondary;
        }

        &-text {
            color: $color-white;

            &--span {
                display: block;

                @include respond(tab-land) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__line {
        height: 1px;
        margin: 5rem 0;
        background-color: $color-white;
    }



    &__copyright {
        text-align: right;

        @include respond(tab-land) {
            font-size: 1.4rem;
        }

        @include respond(phone) {
            text-align: left;
        }
    }

}