.header {
    z-index: 9999;
    background-color: $color-white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 .2rem 1rem $color-black;

    // Header Top
    &-top {
        background-color: $color-primary;

        @include respond(phone) {
            padding: 1rem 0;
        }

        &__content {
            @include respond(phone) {
                margin-bottom: 1rem;
            }
        }

        &__link {

            &,
            &:visited {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: 1.3rem;
                color: $color-white;
            }

            &:hover {
                color: $color-white;
            }

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        &__icon {
            color: $color-secondary;


            &--1 {
                transform: rotate(-35deg);
            }
        }

        &__form {
            height: 4rem;
            border-radius: .5rem;
            background-color: $color-primary-dark-2;
            position: relative;
        }

        &__input,
        &__input:focus-visible {
            outline: 0;
            border: 0;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: $color-white;
            padding-left: 2rem;
        }

        &__search {
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
            height: 1.4rem;
            width: 1.4rem;
            color: $color-secondary;
        }
    }

    // Header Navbar

    &-navbar {
        padding: 2rem 0;

        &__collapse {
            @include respond(tab) {
                padding: 1rem;
                background-color: $color-secondary;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-right: 1.5rem;

                @include respond(tab-land) {
                    margin-right: 1rem;
                }
            }


        }

        &__link {
            text-transform: capitalize;
            display: inline-block;
            font-weight: 400;
            color: $color-primary !important;

            @include respond (tab-land) {
                display: block;
            }

            &--1 {
                font-size: 1.4rem;
            }

            &--2 {
                font-size: 1.2rem;
            }

            &::after {
                display: none;
            }

        }

        &__icon {
            font-size: 1rem;
        }
    }
}